[Unit]
Description=CAN Interface Monitor Daemon
After=network.target
StartLimitIntervalSec=10s
StartLimitBurst=20

[Service]
Type=notify
ExecStart=/usr/local/bin/cansentinel -i can_s0 -i can_s1 -i can_s2 -i can_s3 -i can_s4 --delay-ms 1000
Restart=always
RestartSec=1
SyslogIdentifier=cansentinel

[Install]
WantedBy=multi-user.target
